<% provide(:title, "Crowdfund a concert | Dylan Owen, Ithaca NY") %>
<div id='eventContainer'>
  <div id='eventBox'>
    <div id='eventContent'>
      <!-- <h1 id='dylanHeader'><a href='/dylanowen'>Dylan Owen</a></h1>
      <p id='toneSubheader'><a href='/toneperignon'>with Tone P&eacute;rignon</a> and <a href='https://soundcloud.com/gobuckmusic' target='_blank'>Go Buck!</a></p>
      <h2>Where</h2>
      <p id='location'>The Gates &mdash; Ithaca, NY</p>
      <h2>When</h2>
      <p id='date'>December 5<sup>th</sup>, 2013</p>
      <a href='/dylanowen/events/ithaca'><button class='btn btn-primary' id='getTickets'>Get Tickets <span class='Icon'>&#xE82B;</span></button></a> -->
      <h1 id='logoHeader'>Tune<span id='logoColor'>tap</span></h1>
      <p id='description'>Presell tickets for a guaranteed audience</p>
      <h2 id='upcomingEvents'>Upcoming events</h2>
      <p id='upcomingEventsText'>Stay tuned!</p>
      <h2 id='pastEvents'>Previous events</h2>
      <p id='dylanConcert'><a href='/dylanowen/events/ithaca'>Dylan Owen: Live at Cornell</a></p>
    </div>
    <div id='tunetapContent'>
      <hp id='whatIsPrompt'><a data-toggle='modal' data-target='#whatIsModal'>What is Tunetap?</a></p>
      <%= render 'shared/what_is_modal' %>
    </div>
  </div>
</div>