<% provide(:title, "Sell tickets to crowdfund concerts for a guaranteed audience") %>
<div id='register'>
  <div id='betaSignupContainer'>
    <h1 id='tagline'>Let's make music</h1>
    <p id='quickDesc'>Tunetap lets artists and fans crowdfund live events, so artists will have a guaranteed audience before they commit to an event.</p>
    <p id='launchLater'>Tunetap will be launching later this year.</p>
    <p id='registerPrompt'>Sign up for updates and exclusive access to our platform. Don't worry &mdash; we're too busy building Tunetap to send out spam!</p>
    <%= render 'layouts/signup_form' %>
  </div>
</div>
<div id='container'>
  <div id='landingCardsNav'>
    <span id='cardNavPrev' class='Icon'>&#xE82A;</span>
    <span id='cardNavNext' class='Icon'>&#xE82B;</span>
  </div>
  <div id='landingCardsContainer'>
    <section class='LandingCard' id='start'>
      <div class='LandingCardContent'>
        <h1>Getting started</h1>
        <p>Our team is working hard on the first version of Tunetap, which will launch later this year. In the meantime, we're looking for people to be the first users on Tunetap.</p>
        <ul id='startRoleList'>
          <li data-id='startArtist'>
            <h2>I'm an <strong>artist</strong><span class='Icon'>&#xE805;</span></h2>
            <div class='StartSteps' id='startArtist'>
              <ol id='startArtistSteps'>
                <li data-arrow-to='betaSignupForm'><span class='StepNumber'>1</span>Sign up for updates on the left</li>
                <li><span class='StepNumber'>2</span>Learn more about <a href='#works'>how it works</a></li>
                <li><span class='StepNumber'>3</span>Spread the word!</li>
              </ol>
            </div>
          </li>
          <li data-id='startFan'>
            <h2>I'm a <strong>fan</strong><span class='Icon'>&#xE805;</span></h2>
            <div class='StartSteps' id='startFan'>
              <ol id='startFanSteps'>
                <li data-arrow-to='betaSignupForm'><span class='StepNumber'>1</span>Sign up for updates on the left</li>
                <li><span class='StepNumber'>2</span>Learn more about <a href='#works'>how it works</a></li>
                <li><span class='StepNumber'>3</span>Spread the word!</li>
              </ol>
            </div>
          </li>
          <li data-id='startVenue'>
            <h2>I have a <strong>venue</strong><span class='Icon'>&#xE805;</span></h2>
            <div class='StartSteps' id='startArtist'>
              <ol id='startArtistSteps'>
                <li data-arrow-to='betaSignupForm'><span class='StepNumber'>1</span>Sign up for updates on the left</li>
                <li><span class='StepNumber'>2</span>Learn more about <a href='#works'>how it works</a></li>
                <li><span class='StepNumber'>3</span>Get in touch with us &mdash; we want your feedback</li>
                <li><span class='StepNumber'>4</span>Spread the word!</li>
              </ol>
            </div>
          </li>
        </ul>
      </div>
    </section>
    <section class='LandingCard' id='works'>
      <div class='LandingCardContent'>
        <h1>How Tunetap works</h1>
        <!-- <canvas id='processCanvas' width='366' height='420'></canvas> -->
        <%= image_tag('how_it_works.png', id: 'processCanvas', size: '366x595') %>
        <ul id='audience'>
          <li data-id='artistSteps'>Artists</li>
          <li data-id='fanSteps'>Fans</li>
          <li data-id='venueSteps'>Venues</li>
        </ul>
        <ul class='HowItWorksSteps' id='artistSteps'>
          <li id='artistStep0' data-line-vertical-to='artistStep1'>Decide to play</li>
          <li id='artistStep1' data-line-vertical-to='artistStep2'>Create event</li>
          <li id='artistStep2' data-line-diagonal-to='artistStep3' data-line-horizontal-to='fanStep2'>Promote event</li>
          <li id='artistStep3' data-line-vertical-to='artistStep4' data-curve-to='venueStep3'>Get funded</li>
          <li id='artistStep4'>Play show</li>
        </ul>
        <ul class='HowItWorksSteps' id='fanSteps'>
          <li id='fanStep0' data-line-vertical-to='fanStep1'>Want artist to play</li>
          <li id='fanStep1' data-line-diagonal-to='artistStep0' data-line-vertical-to='fanStep2'>Support petition</li>
          <li id='fanStep2' data-line-diagonal-to='artistStep3' data-line-vertical-to='fanStep3' data-line-horizontal-to='venueStep2'>Back event</li>
          <li id='fanStep3' data-line-vertical-to='fanStep4'>Doesn't get funded</li>
          <li id='fanStep4'>Get refund</li>
        </ul>
        <ul class='HowItWorksSteps' id='venueSteps'>
          <li id='venueStep0' data-line-vertical-to='venueStep1'>List openings</li>
          <li id='venueStep1' data-line-horizontal-to='artistStep0'>Find artists</li>
          <li id='venueStep2' data-line-vertical-to='venueStep3'>Get crowd info</li>
          <li id='venueStep3'>Host event</li>
        </ul>
      </div>
    </section>
    <section class='LandingCard' id='mission'>
      <div class='LandingCardContent'>
        <h1>Mission</h1>
        <p id='pitch'>Tunetap makes more music by letting fans crowdfund concerts so artists can focus on the art rather than the business.</p>
        <p>At Tunetap, we believe that great things happen when people are free to be creative, without having to worry about mundane details. When we strip away all the complexity and friction, people are happier, and our world becomes a better place.</p>
        <p>We start with music because everyone loves music. Everyone, that is, except the industry itself, which seems bent on squeezing every last cent from the artists. We think this is wrong, that artists deserve better.</p>
        <p>We created Tunetap to fix this problem. We want to make it brilliantly simple for artists to play for their fans, wherever they may be. We want to make sure artists don't have to put their time and money on the line, hoping for an audience.</p>
        <p>Tunetap takes care of everything for artists, fans, and venues. We lower the barrier to entry for artists and venues. Which means more music for fans. And everybody wins.</p>
      </div>
    </section>
    <section class='LandingCard' id='who'>
      <div class='LandingCardContent'>
        <h1>Who we help</h1>
        <p>Tunetap results in a win-win-win for everyone involved.</p>
        <div id='recipients'>
          <ul id='recipientsList'>
            <li class='Active'>Artists</li>
            <li>Fans</li>
            <li>Venues</li>
          </ul>
          <p class='Visible' id='helpArtists'>Traditionally, artists have had a terrible time setting up live shows. It's often hard to get into a venue, and when the artist does get in, there are a number of costs involved, with no guarantee that the artist will get their money back. Crowdfunding lets artists find out about fan demand and get commitments from fans. Artists can also use this information to work with other artists, and even plan entire tours. All without risking a single cent</p>
          <p id='helpFans'>Tunetap makes it a lot easier for artists to play live events. Which means that artists can spend less time worrying about the business and logistics of playing shows, and actually play for their fans. Fans get more music, and become an instrumental part of the artist's success. Because after all, music is made for the fans.</p>
          <p id='helpVenues'>There's nothing better than live music in an intimate setting, where everyone is part of the experience. Many artists are constantly looking for new places to play. And many venues could use some live music. Venues don't have to be massive concert halls &mdash; they can just as easily be a neighborhood bar, an empty apartment, or a park or town center. In every case, Tunetap lets venues reach out directly to artists and easily book events without any middle men getting in the way. Venues can get an estimate on the number of attendees to a particular event, which allows venues to plan accordingly.</p>
        </div>
      </div>
    </section>
    
    <section class='LandingCard' id='job'>
      <div class='LandingCardContent'>
        <h1>Jobs</h1>
        <p>We're looking for inspired individuals to join the Tunetap team. Come shape the future of music.</p>
        <div id='jobsInfo'>
          <div id='jobsLocations'>
            <h2>Locations</h2>
            <p>We have locations across the country:</p>
            <ul id='locations'>
              <li>
                <h3>Ithaca, NY<span class='Icon'>&#xE805;</span></h3>
                <p>In Ithaca, we're busy building the very next release of Tunetap. We push often, and our work here is the first thing people see.</p>
              </li>
              <li>
                <h3>High Point, NC<span class='Icon'>&#xE805;</span></h3>
                <p>Our team at High Point works alongside one of the top musicologists in the country, researching how we perceive and enjoy music.</p>
              </li>
          </div>
          <div id='jobsListings'>
            <h2>Positions</h2>
            <ul id='positions'>
              <a href='/Tunetap-CTO.pdf' target='_blank'><li>CTO<span class='Icon'>&#xE809;</span></li></a>
              <a href='/Tunetap-UIUX.pdf' target='_blank'><li>Designer: UI/UX<span class='Icon'>&#xE809;</span></li></a>
              <a href='/Tunetap-Frontend.pdf' target='_blank'><li>Dev: Frontend web<span class='Icon'>&#xE809;</span></li></a>
              <a href='/Tunetap-Backend.pdf' target='_blank'><li>Dev: Backend web<span class='Icon'>&#xE809;</span></li></a>
              <a href='/Tunetap-ML.pdf' target='_blank'><li>Dev: Machine learning<span class='Icon'>&#xE809;</span></li></a>
              <a href='/Tunetap-Mobile.pdf' target='_blank'><li>Dev: iOS + Android<span class='Icon'>&#xE809;</span></li></a>
            </ul>
          </div>
          <p>Apply for any position by sending your resume, portfolio, and any other relevant material (portfolios in particular) to <a href='mailto:thetap@tunetapmusic.com'>thetap@tunetapmusic.com</a>. Also feel free to contact us if you have any questions, or want to get involved but are not sure how.</p>
        </div>
      </div>
    </section>
  </div>
</div>

<%= render 'layouts/footer' %>

