<% provide(:title, "Create concerts without risk") %>
<div id='homeContainer'>
  <div id='bg'></div>
  
  <div class='' id='homeBox'>
    <div id='landingContent'>
      <h1 id='logoHeader'>Tune<span id='logoColor'>tap</span></h1>
      <p id='description'>Create concerts without risk</p>
     <!--  <div id='actionButtons'>
        <a id='getStartedLink' href='#artistStart'> -->
        <button class='btn btn-primary' id='artistButton'>For artists &hellip;</button>
        <!-- </a> -->
        <button class='btn btn-default' id='venueButton'>For venues&hellip;</button>
     <!--  </div> -->
      <div id='actionButtons'>
      </div>
    <div id='landingColumn1'>
      <div id='forArtists'>
        <section id='moreShows'>
          <h2>Play more shows</h2>
          <p>At Tunetap, we want to help get musicians in front of their fans. We know it's difficult to set up a show or a tour, and there are a lot of moving parts. We're here to make it easier.</p>
          <p>Pick a time and place &mdash; or let us recommend the best time and place to draw a crowd. Let your fans know, so they can pre-order tickets to the show. If enough people buy tickets to cover all the expenses, the show goes on. If not, everyone gets a full refund.</p>
          <!-- <p>Easily create beautiful pages for your artist profile, your shows and tours. We       make your pages look awesome, and include the best practices to increase user experience and                               conversion rates. We take care of all the technology, so you can focus on making great music.</p>                         -->
        </section>
        <section id='delightFans'>
          <h2>Delight your fans</h2>
          <p>Your fans want you to play shows all over the map. How do you know where to go? Tunetap                         lets your fans decide by letting them pre-order tickets, so you can book your shows knowing you'll                         have a crowd. Our predictive technology can also help you find new fans to grow your audience. We                         let you know where they are, so you can share your music with them and set up a show.<!-- Your fans                                                                                                                                                                                                             will want to see you, but they'll have to convince their friends to come to make the show happen.                                                                                                                                                                                                       --></p>
        </section>
        <section id='noRisk'>
          <h2>Never lose money</h2>
          <p>It takes a lot of money to put on a show, or pull off a tour. Tunetap makes sure you                         don't lose money because your fans cover all the expenses through ticket pre-orders, so you can                         focus on playing shows and tours with minimal risk.</p>
        </section>
        <section id='simpleBooking'>
          <h2>Super simple booking</h2>
          <p>Booking an event begins by getting a hold on a time at a venue. Browse Tunetap for a                         venue, and put in a hold with one click. If your event gets funded, the stage is yours!</p>
        </section>
      </div>
      <div id='forVenues'>
        <section id='lessVetting'>
          <h2>Spend less time vetting acts</h2>
          <p>Tunetap makes it easy to get to know the artists who want to play on your stage. Browse                         all their past events &mdash; their content, how many people they brought in, and other venues they                         played at. Tunetap makes it easy for artists to set up a tentative event on your stage, and you can                         track the funding progress of the event and people funding the event.</p>
          <p>But we take it further. But combining information across venues, artists, and fans                         across the country, we can find you the best artists, and the best times to bring those artists, to                         pull off great shows, every night.</p>
        </section>
        <section id='useCapacity'>
          <h2>Put your stage to work</h2>
          <p>Tunetap helps put the best shows on your stage to draw the most people. Rather than                         being closed on traditionally slow nights, offer artists the chance to book your stage then. If the                         show succeeds, you get a lot of people coming through the door.</p>
        </section>
        <section id='increaseBusiness'>
          <h2>Know your customers &mdash; increase business</h2>
          <p>Tunetap provides venues with clear insights into their customers. Our technology allows                         us to recommend the best acts to bring to your stage.</p>
          <p>We combine venue, artist, and fan demographics from across the country. This lets us do                         cool things. For example, we can let you know that your regular customers really like a particular                         artist who hasn't played on your stage before &mdash; and then notify that artist to set up an                         event.</p>
          <p>Tunetap takes care of all the technology, so you can focus on providing a great                         experience for your customers.</p>
        </section>
       <!--  <div id='venueStart'>
          <h2 id='venueTagline'>Let's get started</h2>
          <div id='venueStartInput'>
            <input type='text' id='venueSignup' placeholder='Venue manager email or phone' />
            <button class='btn btn-primary' id='venueContactSubmit'>Go</button>
          </div>
          <div class='alert alert-danger Hidden' id='venueStartResultFail'>
            Something went wrong with our system. Please get in touch with us by email:                         <a href='mailto:thetap@tunetap.com'>thetap@tunetap.com</a>
          </div>
          <div class='alert alert-warning Hidden' id='venueStartResultWarning'>
            That doesn't look like an email address or phone number. Check it and try again.
          </div>
          <div class='alert alert-success Hidden' id='venueStartResultSuccess'>
            We'll be in touch within 24 hours to talk about how we can work together.
          </div>
        </div> -->
      </div>
    </div>
    <div id='landingColumn2'>
      <div id='artistStart'>
        <h2 id='tagline'>Let's make music</h2>   <!-- Because artists don't want to just "sign up" for another thing -->
        
        <%= render 'layouts/artist_signup_form' %>
        <p id="LoginStatement">Already a User? <a href="/login">Login</a></p>
      </div>
      <div id='venueStart'>  <!-- Because we have a different procses for venues -->
        <h2 id='venueTagline'>Let's get started</h2>
        <div id='venueStartInput'>
          <input type='text' id='venueSignup' placeholder='Venue manager email or phone' />
          <button class='btn btn-primary' id='venueContactSubmit'>Go</button>
        </div>
        <div class='alert alert-danger Hidden' id='venueStartResultFail'>
          Something went wrong with our system. Please get in touch with us by email:                         <a href='mailto:thetap@tunetap.com'>thetap@tunetap.com</a>
        </div>
        <div class='alert alert-warning Hidden' id='venueStartResultWarning'>
          That doesn't look like an email address or phone number. Check it and try again.
        </div>
        <div class='alert alert-success Hidden' id='venueStartResultSuccess'>
          We'll be in touch within 24 hours to talk about how we can work together.
        </div>
      </div>
    </div>
  </div>  
</div>
