<% provide(:title, "Create concerts without risk") %>
<div id='homeContainer'>
  <div id='bg'></div>
  
  <div class='loginContent' id='homeBox' >
    <div id='landingContent'>
      <h1 id='logoHeader'>Tune<span id='logoColor'>tap</span></h1>
      <p id='description'>Create concerts without risk</p>

      <%= render 'layouts/artist_login_form' %>

    </div>


  </div>

</div>   

