<% provide(:title, "Tone Perignon") %>
<% provide(:background, 'tone_right.jpg') %>
<section class='ArtistHero'>
  <section class='ArtistProfileHero'>
    <h1 class='ArtistName'>Tone P&eacute;rignon</h1>
    <p class='AboutLink'>About</p>
    <section class='ArtistAbout'>
      <p>Tone P&eacute;rignon is an artist, musician, and poet from Detroit, Michigan. Just like the fine champagne, the P&eacute;rignon lifestyle is that of luxury &mdash; an element Tone seems to capture in every crafted rhyme. His debut mixtape, <em>A Second Introduction</em>, is a brief preview of his up and coming lyrical skills and musical genius. Tone's production can be credited to the Detroit bad boy &mdash; BAD GUY who incorporates neo Jazz electro soul in the single <em>Make My Day</em>. Tone P's tremendous talent and potential is sure to introduce soulful hits and unforgettable songs to the world of Hip Hop.</p>
      <ul class='SocialLinks'>
        <li class='FacebookLink' id='toneFacebookLink'><a href='https://www.facebook.com/pages/Tone-Pérignon/385414941589406' target='_blank'><span class='Icon'>&#xE801;</span> <span class='SocialCount'>130+</span></a></li>
        <li class='TwitterLink' id='toneTwitterLink'><a href='https://twitter.com/toneypee' target='_blank'><span class='Icon'>&#xE803;</span> <span class='SocialCount'>350+</span></a></li>
      </ul>
    </section>
  </section>
  <section class='ArtistEventsHero'>
    <h2>Upcoming events</h2>
    <ol class='UpcomingEventsHero'>
      <li class='UpcomingEvent'>
        <a href='/dylanowen/events/ithaca'>
          <div class='EventDate'>
            <p class='EventMonth'>December</p>
            <p class='EventDay'>5</p>
          </div>
          <div class='EventInfo'>
            <h3 class='EventName'>Ithaca concert</h3>
            <p class='EventVenue'>The Gates</p>
            <p class='EventTime'>8:00 PM</p>
          </div>
          <div class='EventFundingBar'>
            <div class='EventFundingProgress' style='width:100%;'></div>
            <p class='EventFundingPercent'>Fully funded</p>
          </div>
        </a>
      </li>
    </ol>
  </section>
  <section class='ArtistMusicHero'>
    <h2>Tone's music</h2>
    <ul class='ArtistMusicTitles'>
      <li class='ArtistMusicTitleNames' data-id='soundcloudDay'><span class='Icon'>&#xE818;</span>Make My Day</li>
      <li class='ArtistMusicTitleNames' data-id='soundcloudFire'><span class='Icon'>&#xE818;</span>Fire</li>
      <li class='ArtistMusicTitleNames' data-id='soundcloudFlaunt'><span class='Icon'>&#xE818;</span>Flaunt That</li>
      <li class='ArtistMusicTitleNames' data-id='soundcloudBookNiggas'><span class='Icon'>&#xE818;</span>All My Niggas (SB Remix)</li>
    </ul>
  </section>
  <!-- <section class='ArtistMusicHero'>
    <h2>Dylan's music</h2>
    <ul class='ArtistMusicTitles'>
      <li class='ArtistMusicTitleNames' data-id='soundcloudWindowSeat'><span class='Icon'>&#xE818;</span>The Window Seat</li>
      <li class='ArtistMusicTitleNames' data-id='soundcloudGhosts'><span class='Icon'>&#xE818;</span>Ghosts</li>
      <li class='ArtistMusicTitleNames' data-id='soundcloudBookmarks'><span class='Icon'>&#xE818;</span>Bookmarks</li>
      <li class='ArtistMusicTitleNames' data-id='soundcloudBookReport'><span class='Icon'>&#xE818;</span>The Book Report</li>
      <li class='ArtistMusicTitleNames' data-id='soundcloudPostcards'><span class='Icon'>&#xE818;</span>Postcards (feat. Jesse Denaro)</li>
    </ul>
  </section> -->
</section>
<section class='ArtistMusic'>
  <ul class='ArtistMusicSoundcloud'>
    <li class='ArtistMusicSoundcloudEmbed' id='soundcloudDay'><iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/106828712"></iframe></li>
    <li class='ArtistMusicSoundcloudEmbed' id='soundcloudFire'><iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/104415634"></iframe></li>
    <li class='ArtistMusicSoundcloudEmbed' id='soundcloudFlaunt'><iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/108532472"></iframe></li>
    <li class='ArtistMusicSoundcloudEmbed' id='soundcloudBookNiggas'><iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/114750930"></iframe></li>
  </ul>
</section>
<%= render 'shared/powered_by_tunetap' %>