<div class='InfoGroup'>
  <div class='InfoGroupComponent' id='totalSignups'>
    <h1>Total signups</h1>
    <p><%= @total_signups %></p>
  </div>
  <div class='InfoGroupComponent' id='signupsSinceLastVisit'>
    <h1>Since last visit</h1>
    <p><%= @since_last %></p>
  </div>
</div>