<% theme ||= 0 %>
<div class='PoweredByTunetap'>
  <p>Powered by <a href='/' target='_blank' class='TunetapLink'>Tunetap</a></p>
  <div class='footer'>
    <ul class='SocialLinks'>
      <a href='https://www.facebook.com/TunetapMusic' target='_blank'>
        <span class='FacebookLink' id='TunetapFacebookLink'><span class='Icon'>&#xE801;</span>&nbsp;&nbsp;</span>
      </a>
      <a href='https://twitter.com/TunetapMusic'  target='_blank'>
        <span class='TwitterLink' id='TunetapTwitterLink'><span class='Icon'>&#xE803;</span>&nbsp;&nbsp;</span>
      </a>
      <a href='mailto:thetap@tunetapmusic.com'>
        <span class='EmailLink'  id='artistEmailLink'><span class='Icon'>&#xE804;</span></span>
      </a>
    </ul>
  </div>
