<div class='modal' id='whatIsModal'>
  <div class='modal-dialog'>
    <div class='modal-content'>
      <div class='modal-header'>
        <button type="button" class="close" id='closeWhatIsTunetapModal' data-dismiss="modal" aria-hidden="true">&times;</button>
        <h2 class="modal-title">What is Tunetap?</h2>
      </div>
      <div class='modal-body'>
        <p>On Tunetap, you help make concerts succeed. This happens in one of two ways.</p>
        <div class='row Column2'>
          <div class='Column'>
            <h3>It starts with fans</h3>
            <p>Everyone wishes they could bring their favorite musicians and bands to where they are. But fans often don't have much say, and if you live outside of a big city you don't have many options either.</p>
            <p>Tunetap lets you petition for an artist to come play a show. Get a bunch of friends to request an artist, and when it gets enough support we'll let them know.</p>
          </div>
          <div class='Column'>
            <h3>It centers around artists</h3>
            <p>Artists get to set up events, either from a fan petition, or just because they want to play a show. They put a hold on a venue and date, then you pre-order tickets and merchandise. If the venue and travel costs are covered by the end of the funding period, the concert goes on. If not, everyone is guaranteed a full refund.</p>
          </div>
        </div>
        <p>When you support an event by pre-ordering tickets, you get special pricing and potentially access to exclusive VIP rewards as well. After the event is fully funded, additional tickets will go on sale at normal prices.</p>
        <p>That's it! Tunetap eliminates risk for artists and venues, and gives you the power to bring their favorite musicians for a live event.</p>
        <p>For more information, visit our <a href='/landing'>landing page</a> or send us a message at <a href='mailto:thetap@tunetap.com'>thetap@tunetap.com</a></p>
      </div>
    </div>
  </div>
</div>