<% provide(:title, "Redeem tickets") %>
<div id='redeemTickets'>
  <div id='phraseGenerator'>
    <div class='PhraseGeneratorCategory' id='name'>
      <button class='btn btn-default'>Beyonce</button>
      <button class='btn btn-default'>Bob Dylan</button>
      <button class='btn btn-default'>Elvis</button>
      <button class='btn btn-default'>Freddie Mercury</button>
      <button class='btn btn-default'>Jimi Hendrix</button>
      <button class='btn btn-default'>Macklemore</button>
      <button class='btn btn-default'>Madonna</button>
      <button class='btn btn-default'>Michael Jackson</button>
      <button class='btn btn-default'>Pitbull</button>
      <button class='btn btn-default'>Sinatra</button>
    </div>
    <div class='PhraseGeneratorCategory' id='verb'>
      <button class='btn btn-default'>dances</button>
      <button class='btn btn-default'>flies</button>
      <button class='btn btn-default'>jams</button>
      <button class='btn btn-default'>performs</button>
      <button class='btn btn-default'>sings</button>
      <button class='btn btn-default'>walks</button>
    </div>
    <div class='PhraseGeneratorCategory' id='preposition'>
      <button class='btn btn-default'>at</button>
      <button class='btn btn-default'>from</button>
      <button class='btn btn-default'>to</button>
    </div>
    <div class='PhraseGeneratorCategory' id='article'>
      <button class='btn btn-default'>a</button>
      <button class='btn btn-default'>the</button>
    </div>
    <div class='PhraseGeneratorCategory' id='adjective'>
      <button class='btn btn-default'>busy</button>
      <button class='btn btn-default'>crowded</button>
      <button class='btn btn-default'>dark</button>
      <button class='btn btn-default'>packed</button>
      <button class='btn btn-default'>smokey</button>
    </div>
    <div class='PhraseGeneratorCategory' id='place'>
      <button class='btn btn-default'>bar</button>
      <button class='btn btn-default'>disco</button>
      <button class='btn btn-default'>restaurant</button>
      <button class='btn btn-default'>store</button>
    </div>
  </div>
  <p id='ticketStatusDisplay'><strong>Code:</strong> <span id='codeText'></span> <strong id='status'>Status:</strong> <span id='ticketStatus'></span></p>
  <button class='btn btn-success' disabled='disabled' id='submitCodeButton'>Submit code!</button>
  <p id='clearDisplay'>Clear display</p>
</div>