@import url('//fonts.googleapis.com/css?family=Lato:100,300,400,700');
$Zonda: 'Zonda';
/***** Zonda icon font *****/
@font-face {
  font-family: 'Zonda';
  src: font-url('zonda.eot');
  src: font-url('zonda.eot?#iefix') format('embedded-opentype'),
  font-url('zonda.woff') format('woff'),
  font-url('zonda.ttf') format('truetype'),
  font-url('zonda.svg#zonda') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
  @media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
  font-family: 'zonda';
  src: url('../font/zonda.svg?12993124#zonda') format('svg');
  }
  }
  */

[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "zonda";
  font-style: normal;
  font-weight: normal;
  speak: none;
  
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
  
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
  
/* you can be more comfortable with increased icons size */
/* font-size: 120%; */
  
/* Uncomment for 3D effect */
/* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

// $orange: rgb(241, 98, 20);
$orange: #F16214;
$blue: #0F81C0;

* {
  font-family: 'Lato', sans-serif !important;
}
a {
  color: $orange;
  font-weight: 370;
  //color: inherit !important;

  &:hover {
    color: #0F81C0 !important;
	text-decoration: none !important; 
  }
}
.btn {
  font-weight: 700 !important;
}

.Hidden {
  display: none;
}

.Icon {
  font-family: $Zonda !important;   
}

@mixin vendor-prefix($name, $argument) {
  #{$name}: #{ $argument };
  -webkit-#{$name}: #{ $argument };
  -ms-#{$name}: #{ $argument };
  -moz-#{$name}: #{ $argument };
  -o-#{$name}: #{ $argument };
}


// Requires width and height to be set on container
.AbsoluteCenter {
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}

.DatePicker {
  display: inline-block;
  p {
    margin-bottom: 0;
  }
  .DatePickerDay {
    border-radius: 2px;
    display: inline-block;
    height: 30px;
    padding: 5px;
    text-align: center;
    width: 30px;
    @include vendor-prefix(transition, background 0.25s);
    &:hover {
      background: transparentize($orange, 0.65);
      cursor: pointer;
    }
    &.OtherMonthDate {
      color: transparentize(black, 0.65);
    }
    &.Active {
      background: $orange;
      color: white;
    }
  }
  .DatePickerNavBar, .DatePickerWeekdayBar {
    div {
      display: inline-block;
      height: 30px;
      padding: 3px;
      text-align: center;
      width: 30px;
    }
  }
  .DatePickerNavBar {
    font-size: 16px;
    font-weight: 600;
    div {
      height: 20px;
      line-height: 20px;
      &.Icon {
        &:hover {
          cursor: pointer;
        }
      }
    }
    .DatePickerMonth {
      width: 150px;
    }
  }
  .DatePickerWeekdayBar {
    border-bottom: 1px solid transparentize(black, 0.75);
    margin-bottom: 3px;
  }
}

.EventFundingBar {
  background: transparentize(#AAA, 0.5);
  border-radius: 2px;
  height: 2px;
  overflow: hidden;
  position: relative;
  width: 100%;
  @include vendor-prefix(transition, height 0.5s);
  .EventFundingProgress {
    // background: $orange;
    // background-color: lighten(#5cb85c, 10%) !important;
    bottom: 0;
    display: inline-block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
  }
  .EventFundingPercent {
    font-size: 14px;
    font-weight: 400;
    left: 0;
    line-height: 14px;
    margin-bottom: 0;
    margin-top: -2px;
    // opacity: 0;
    padding: 2px 0;
    position: absolute;
    right: 0;
    top: 0;
    text-align: center;
  }
}

.PoweredByTunetap {
  background: transparentize(white, 0.85);
  border-radius: 4px;
  bottom: 5px;
  color: transparentize(white, 0.3);
  padding: 6px;
  position: fixed;
  right: 20px;
  @include vendor-prefix(transition, bottom 0.5s);
  &.Dark {
    background: transparentize(black, 0.25);
  }
  &.ShowSoundcloud {
    bottom: 205px;
  }
  .TunetapLink {
    font-weight: 400;
    color: $orange;
  }

  .SocialLinks a {
    color: white;
    &:hover {
      color: $orange !important;
    }
  }

}

#whatIsModal {
  .modal-body {
    font-weight: 300;
    a {
      color: $orange !important;
    }
    .Column2 {
      margin-bottom: 24px;
      .Column {
        display: inline-block;
        margin-right: 20px;
        vertical-align: top;
        width: 250px;
        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
}

@-moz-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@-webkit-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@-o-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@-ms-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
.Spinner {
  -webkit-animation: spin 2s infinite linear;
  -moz-animation: spin 2s infinite linear;
  -o-animation: spin 2s infinite linear;
  -ms-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear;
  text-align: center;
}
