// Place all the styles related to the admin controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background: none;
  .InfoGroup {
    border: 1px solid #EEE;
    box-shadow: 0 1px 1px #BBB;
    display: inline-block;
    margin: 20px;
    .InfoGroupComponent {
      border-right: 1px solid #EEE;
      display: inline-block;
      padding: 10px;
      text-align: center;
      &:last-child {
        border-right: none;
      }
      h1 {
        font-size: 18px;
        font-weight: 300;
        margin: 4px auto;
      }
      p {
        font-size: 28px;
        font-weight: 700;
        margin-top: 12px;
      }
    }
  }
}