<div class="modal" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">BUY TICKETS</h4>
        <p><%=  @artist.artist_name + " live at " + @venue.name %></p>
      </div>
      <div class="modal-body">       
        
        <div id='facebookSignup'>
            <button class='btn btn-large FacebookButton'>Signup with Facebook</button>
            <p class='Icon Spinner Hidden' id='facebookLoginSpinner'>&#59392;</p>
            <p class='FacebookDisclaimer'>Signup with Facebook to get 10% off all ticket packages. We will never post to your Timeline or do anything on your behalf without your permission.</p>
            <button class='btn btn-large' id = 'btnCreate'>Create a Tunetap account </button>
            <p class='FacebookDisclaimer'>If you do not want to connect to Facebook but would still like to keep track of your ticket history, create a Tunetap account</p>
            <p class='FacebookDisclaimer'>If you have any problems, email us: <a href='mailto:thetap@tunetap.com'>thetap@tunetap.com</a></p>
          </div>
          <div class='alert alert-success' id='signupSuccess'>You've created an account!</div>
          <div class='alert alert-danger' id='signupFail'>There was a problem. Try again or <a href='mailto:thetap@tunetapmusic.com'>contact us</a> for help. <span id='signupErrorSentence'></span></div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal" id='cancelFacebookSignup'>Cancel</button>
          <button type='button' class='btn btn-default' id='skipSignupButton'>Skip</button> 
          <button type="button" class="btn btn-primary" id='signupButton'>Signup</button> 
      </div>

    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
