<footer>
  <ul id='staticNavLinks'>
    <li id='navStart' class='Active' data-id='start' data-next-id='works' data-prev-id=''><a href='#start'>Get started</a></li>
    <li id='navWorks' data-id='works' data-next-id='mission' data-prev-id='start'><a href='#works'>How it works</a></li>
    <li id='navMission' data-id='mission' data-next-id='who' data-prev-id='works'><a href='#mission'>Mission</a></li>
    <li id='navWho' data-id='who' data-next-id='jobs' data-prev-id='mission'><a href='#who'>Who we help</a></li>
    <li id='navJobs' data-id='job' data-next-id='' data-prev-id='who'><a href='#jobs'>Jobs</a></li>
  </ul>
  <p id='footerName'>Tunetap</p>
  <ul id='staticSocialLinks'>
    <li><a href='http://www.facebook.com/TunetapMusic' target='_blank'>Facebook</a></li>
    <li><a href='http://www.twitter.com/Tunetap' target='_blank'>Twitter</a></li>
    <li><a href='mailto:thetap@tunetap.com'>Email</a></li>
  </ul>
</footer>
