<% custom_class ||= '' %>
<li class='IconGridItem TeamGridItem <%= custom_class %>' data-placement='top' data-trigger='hover' data-title="<%= pop_text %>"><%= image_tag(img_name, alt: alt_text) %></li>