<div class="modal fade" id="createEventModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h1 class="modal-title" id="modalLabel">Create Event</h4>
      </div>
      <div class="modal-body">
        <form role='form' id='createEventForm'>
          <div class='form-group' id='venueGroup'>
            <div class='CreateEventSectionDescription'>
              <h2>Venue</h2>
            </div>
            <input type='text' class='form-control' id='eventVenue' name='venue' placeholder='Venue name' />
            <button type='button' class='btn btn-default' id='searchVenuesButton'>Find a venue</button>
          </div>
          <div class='form-group'>
            <div class='CreateEventSectionDescription'>
              <h2>Date &amp; time</h2>
              <p>Select a date to see available times.</p>
            </div>
            <input type='hidden' id='eventDate' name='date' />
            <div class='DatePicker' id='eventDatePicker'></div>
            <div id='eventTimePicker'>
              <div id='eventStartTimePicker'>
                <h3>Start time</h3>
                <select class='form-control' id='eventStartTime' name='start_time'>
                  <option value='1700'>5:00 PM</option>
                  <option value='1730'>5:30 PM</option>
                </select>
              </div>
              <div id='eventEndTimePicker'>
                <h3>End time (optional)</h3>
                <select class='form-control' id='eventEndTime' name='end_time'>
                  <option value='-1'>Until the show ends</option>
                  <option value='1700'>5:00 PM</option>
                  <option value='1730'>5:30 PM</option>
                </select>
              </div>
            </div>
          </div>
          <div class='form-group'>
            <div class='CreateEventSectionDescription'>
              <h2>Tickets</h2>
            </div>
            <div id='createTickets'>
              <div id='genTicket'>
                <button type='button' class='btn btn-default' id='createGenTicket'>Create gen. admission ticket</button>
                <div class='CreateTicket' id='createGenTicketGroup'>
                  <label for='generalPrice'>Price</label>
                  <div class='input-group'>
                    <span class='input-group-addon'>$</span>
                    <input type='text' class='form-control' name='gen_price' placeholder='15' />
                  </div>
                  <button type="button" class="close CancelCreateTicket" data-target='createGenTicket'>&times;</button>
                  <textarea class='form-control' name='gen_description' rows='4' placeholder='Ticket description (optional)'></textarea>
                  <div class='LimitTicket'>
                    <label>
                      <input type='checkbox' class='ShouldLimitTicket' name='should_limit_ticket' data-target='genTicketLimit' />
                      Limit ticket count
                    </label>
                    <input type='text' class='form-control TicketLimit' id='genTicketLimit' name='ticket_limit' placeholder='Count' />
                  </div>
                </div>
              </div>
              <div id='VIPTicket'>
                <button type='button' class='btn btn-default' id='createVIPTicket'>Create VIP ticket</button>
                <div class='CreateTicket' id='createVIPTicketGroup'>
                  <label for='generalPrice'>Price</label>
                  <div class='input-group'>
                    <span class='input-group-addon'>$</span>
                    <input type='text' class='form-control' name='gen_price' placeholder='15' />
                  </div>
                  <button type="button" class="close CancelCreateTicket" data-target='createVIPTicket'>&times;</button>
                  <textarea class='form-control' name='gen_description' rows='4' placeholder='Ticket description (optional)'></textarea>
                  <div class='LimitTicket'>
                    <label>
                      <input type='checkbox' class='ShouldLimitTicket' name='should_limit_ticket' data-target='VIPTicketLimit' />
                      Limit ticket count
                    </label>
                    <input type='text' class='form-control TicketLimit' id='VIPTicketLimit' name='ticket_limit' placeholder='Count' />
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class='form-group'>
            <div class='CreateEventSectionDescription'>
              <h2>Funding target</h2>
            </div>
            <div id='fundingTargetBlock'>
              <div class='input-group'>
                <span class='input-group-addon'>$</span>
                <input type='text' class='form-control' id='fundingTarget' name='funding_target' placeholder='500' />
              </div>
            </div>
          </div>
          <div class='form-group'>
            <div class='CreateEventSectionDescription'>
              <h2>Funding date</h2>
              <p>The show goes on only if the funding target is reached by this date.</p>
            </div>
            <input type='hidden' id='fundingDate' name='funding_date' />
            <div id='fundingDatePicker'></div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" id='setupOccur'>Create Event</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
